/*
    -fx-alignment: center;
    -fx-background-color: white;
    -fx-background-insets: 0.0px 0.0px 0.0px 2.0px;
    -fx-border-insets: 0.0px 0.0px 0.0px 2.0px;
    -fx-font-size: 12.0px;
    -fx-padding: 10.0px 10.0px 7.0px 10.0px;
    -fx-pref-width: 28.0px;
    -fx-spacing: 3.0px;
    -fx-text-fill: white;
*/

.nameItemPane {
    -fx-padding: 0.0px 7.0px;
    -fx-background-insets: 2.0px 3.0px;
    -fx-border-insets: 2.0px 3.0px;
}

.loadCompleted {
    -fx-background-color: rgb(219.0, 244.0, 231.0);
}

.passwordLocked {
    -fx-background-color: rgb(255.0, 242.0, 204.0);
}

.loadFailed {
    -fx-background-color: rgb(252.0, 228.0, 214.0);
}

.parentPane {
    -fx-pref-width: 100;
}

.parentLabel {
    -fx-padding: 7.0px 2.0px;
    -fx-font-size: 15.0px;
}

.childLabel {
    -fx-pref-height: 30px;
    -fx-padding: 3.0px 7.0px;
    -fx-background-color: white;
    -fx-background-insets: 2.0px 3.0px;
    -fx-border-insets: 2.0px 3.0px;
}

.pairedNameLabel {
    -fx-background-color: rgb(219.0, 244.0, 231.0);
}

.unpairedNameLabel {
    -fx-background-color: rgb(219.0, 244.0, 231.0);
    -fx-border-width: 1.0px;
    -fx-border-style: solid;
    -fx-border-color: rgb(219.0, 244.0, 231.0);
    -fx-padding: 3.0px 3.0px;
}

.blankLabel {
    -fx-background-color: rgb(230.0, 230.0, 230.0);
}

.dragging {
    -fx-text-fill: red;
    -fx-border-width: 1.0px;
    -fx-border-style: solid;
    -fx-border-color: red;
    -fx-padding: 3.0px 3.0px;
}

.pairedPane {}

.unpairedPane {}

.unpairButton {
    -fx-pref-width: 50px;
}