.parentLabel {
    -fx-padding: 7.0px 2.0px;
    -fx-font-size: 15.0px;
}

.gridRow {}

.gridRowActivated {
    -fx-border-width: 1.0px;
    -fx-border-style: solid;
    -fx-border-color: red !important;
}

.gridItem {
    -fx-alignment: center;
    -fx-padding: 0.0px 5.0px;
    -fx-border-width: 1.0px;
    -fx-border-style: solid;
}

.gridItemActivated {
    -fx-border-color: red !important;
}

.gridItemActivated>* {
    -fx-text-fill: red !important;
}

.loadCompletedItem {
    -fx-background-color: rgb(219.0, 244.0, 231.0);
    -fx-border-color: rgb(219.0, 244.0, 231.0);
}

.loadFailedItem {
    -fx-background-color: rgb(252.0, 228.0, 214.0);
    -fx-border-color: rgb(252.0, 228.0, 214.0);
}

.needsPasswordItem {
    -fx-background-color: rgb(255.0, 242.0, 204.0);
    -fx-border-color: rgb(255.0, 242.0, 204.0);
}

.blankItem {
    -fx-background-color: rgb(230.0, 230.0, 230.0);
    -fx-border-color: rgb(230.0, 230.0, 230.0);
}
