.parentLabel {
    -fx-padding: 7.0px 2.0px;
    -fx-font-size: 15.0px;
}

.gridRow {}

.gridRowActivated {
    -fx-border-width: 1.0px;
    -fx-border-style: solid;
    -fx-border-color: red !important;
}

.gridItem {
    -fx-alignment: center;
    -fx-padding: 0.0px 5.0px;
    -fx-border-width: 1.0px;
    -fx-border-style: solid;
}

.gridItemActivated {
    -fx-border-color: red !important;
}

.gridItemActivated>* {
    -fx-text-fill: red !important;
}

.loadCompletedItem {
    -fx-background-color: rgb(219.0, 244.0, 231.0);
    -fx-border-color: rgb(219.0, 244.0, 231.0);
}

.loadFailedItem {
    -fx-background-color: rgb(252.0, 228.0, 214.0);
    -fx-border-color: rgb(252.0, 228.0, 214.0);
}

.needsPasswordItem {
    -fx-background-color: rgb(255.0, 242.0, 204.0);
    -fx-border-color: rgb(255.0, 242.0, 204.0);
}

.blankItem {
    -fx-background-color: rgb(230.0, 230.0, 230.0);
    -fx-border-color: rgb(230.0, 230.0, 230.0);
}

/*---------------*/

/*
.gridItemPane {
    -fx-padding: 0.0px 7.0px;
    -fx-border-width: 1.0px;
    -fx-border-style: solid;
    -fx-background-insets: 2.0px 3.0px;
    -fx-border-insets: 2.0px 3.0px;
}

.blankItem {
    -fx-background-color: rgb(230.0, 230.0, 230.0);
    -fx-border-color: rgb(230.0, 230.0, 230.0);
}

.loadCompletedItem {
    -fx-background-color: rgb(219.0, 244.0, 231.0);
    -fx-border-color: rgb(219.0, 244.0, 231.0);
}

.needsPasswordItem {
    -fx-background-color: rgb(255.0, 242.0, 204.0);
    -fx-border-color: rgb(255.0, 242.0, 204.0);
}

.dragging {
    -fx-text-fill: red;
    -fx-border-color: red;
}

.passwordLocked {
    -fx-background-color: rgb(255.0, 242.0, 204.0);
}

.loadFailed {
    -fx-background-color: rgb(252.0, 228.0, 214.0);
}

.parentPane {
    -fx-pref-width: 100;
}

.childLabel {
    -fx-pref-height: 30px;
    -fx-padding: 3.0px 7.0px;
    -fx-background-color: white;
    -fx-background-insets: 2.0px 3.0px;
    -fx-border-insets: 2.0px 3.0px;
}

.pairedNameLabel {
    -fx-background-color: rgb(219.0, 244.0, 231.0);
}

.unpairedNameLabel {
    -fx-background-color: rgb(219.0, 244.0, 231.0);
    -fx-border-width: 1.0px;
    -fx-border-style: solid;
    -fx-border-color: rgb(219.0, 244.0, 231.0);
    -fx-padding: 3.0px 3.0px;
}

.blankLabel {
    -fx-background-color: rgb(230.0, 230.0, 230.0);
}

.pairedPane {}

.unpairedPane {}

.unpairButton {
    -fx-pref-width: 50px;
}
*/